
.main{overflow: hidden;}
.main h3{
  background-color: rgb(252, 197, 177);
  
}
.main button{
  height: 30px;
  background-color: rgb(64, 114, 252);
  color: white;
  font-weight: 700;
}
/* .card{
   display: flex; 
padding-bottom: 5px;

} */
.cardNumber{
  background-color: aqua;
  padding-left: 10px;
  padding-top: 5px;
  
}

.cardNumber p{
  margin: 5px;
}
.circleshape{
  height: 15px;
  width: 15px;
 background-color: rgb(255, 255, 255);
  border-radius: 50%;
  
}