.main{
  
  overflow: hidden;}

.main h3{
 
  padding-left: 10px;
  background-color: rgb(252, 197, 177);
  
}
.Todo{
  background-color: azure;padding-left: 10px;
  margin-bottom: 5px;

}
.Todo p{
  margin: 5px;
} 