.main h3{
  background-color: rgb(252, 197, 177);
  padding-left: 10px;
}
.main p{
  margin: 5px;
}
.Info{
  background-color: rgb(116, 202, 202);
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  margin:5px;
}