.main h3 {
  background-color: rgb(252, 197, 177);
  padding-bottom: 5px;
  padding-left: 10px;
}
.main p {
  margin: 5px;
}

.planDetails {
  background-color: rgb(216, 216, 216);

  padding-left: 10px;
}
